<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <%- include("subviews/header") %>
        <div class="main">
            <%- include('subviews/navigation') %>
            <div>
            <div class="subheader"><%= title %></div>                
                <ul>
                    <% if (locals.errors) { %>
                        <% errors.forEach((error) => { %>
                            <li class="error">
                                Error: <%= error.msg %>
                            </li>
                        <% }); %>
                    <% }; %>
                </ul>
                <form action="/create" method="POST">
                    <div class="create-form-row">
                        <div class="create-label"><label for="title">Title:</label></div>
                        <div class="create-input"><input type="text" name="gameTitle" id="title" required maxlength="50" /></div>
                    </div>
                    <div class="create-form-row">
                        <label for="developer">Developer:</label>
                        <select name="developer" id="developer">
                            <option value="">Empty</option>
                            <% if (locals.developers) { %>
                                <% developers.forEach((developer) => { %>
                                    <option value="<%= developer.id %>"><%= developer.name %></option>
                                <% }); %>
                            <% }; %>
                        </select>
                    </div>            
                    <div class="create-form-row">
                        <label for="genre">Genre:</label>
                        <select name="genre" id="genre">
                            <option value="">Empty</option>
                            <% if (locals.genres) { %>
                                <% genres.forEach((genre) => { %>
                                    <option value="<%= genre.id %>"><%= genre.name %></option>
                                <% }); %>
                            <% }; %>
                        </select>
                    </div>
                    <div class="create-form-row">
                        <label for="publisher">Publisher:</label>
                        <select name="publisher" id="publisher">
                            <option value="">Empty</option>
                            <% if (locals.publishers) { %>
                                <% publishers.forEach((publisher) => { %>
                                    <option value="<%= publisher.id %>"><%= publisher.name %></option>
                                <% }); %>
                            <% }; %>
                        </select>
                    </div>
                    <div class="create-form-row">
                        <label for="platform">Platform:</label>
                        <select name="platform" id="platform">
                            <option value="">Empty</option>
                            <% if (locals.platforms) { %>
                                <% platforms.forEach((platform) => { %>
                                    <option value="<%= platform.id %>"><%= platform.name %></option>
                                <% }); %>
                            <% }; %>
                        </select>
                    </div>
                    <div class="create-form-row">
                        <label for="date-of-release">Date of release:</label>
                        <input type="date" name="dateOfRelease" id="date-of-release" required />
                    </div>
                    <div class="create-form-row">
                        <button class="add-button">Add</button>
                    </div>
                </form>  
            </div>
        </div>
    </body>
</html>