<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1><%= title %></h1>
        <a href="/create">Add new game</a>
        <table>
            <tr>
                <th>Title</th>
                <th>Developer</th>
                <th>Genre</th>
                <th>Publisher</th>
                <th>Platform</th>
                <th>Date of release</th>
            </tr>
            <% if (locals.games) { %>
                <% games.forEach((game) => { %>
                    <tr>
                        <td>
                            <a href="/<%= game.id %>/update">
                                <%= game.title %>
                            </a>
                        </td>
                        <td><%= game.developername %></td>
                        <td><%= game.genrename %></td>
                        <td><%= game.publishername %></td>
                        <td><%= game.platformname %></td>
                        <td><%= game.dateofrelease.toISOString().split('T')[0] %></td>
                    </tr>
                <% }); %>
            <% }; %>
        </table>
    </body>
</html>