<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <div class="main">
            <%- include("subviews/navigation") %>
            <div>
                <a href="/platforms/create">Add new platform</a>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                    <% if (locals.platforms) { %>
                        <% platforms.forEach((platform) => { %>
                            <tr>
                                <td><%= platform.id %></td>
                                <td>
                                    <a href="/platforms/<%= platform.id %>/update">
                                        <%= platform.name %>
                                    </a>
                                </td>
                                <td>
                                    <form action="/platforms/<%= platform.id %>/delete" method="POST">
                                        <button type="submit" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    <% }; %>
                </table>
            </div>
        </div>
    </body>
</html>