<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% if (locals.errors) { %>
                <% errors.forEach((error) => { %>
                    <li><%= error.msg %></li>
                <% }); %>
            <% }; %>
        </ul>
        <form action="/<%= game.id %>/update" method="POST">
            <div>
                <label for="title">Title:</label>
                <input type="text" name="gameTitle" id="title" value="<%= game.title %>" required />
            </div>
            <div>
                <label for="developer">Developer:</label>
                <select name="developer" id="developer">
                    <option value="<%= game.developerid %>"><%= game.developername %></option>
                    <% if (locals.developers) { %>
                        <% developers.forEach((developer) => { %>
                            <% if (developer.id !== game.developerid)  { %>
                                <option value="<%= developer.id %>"><%= developer.name %></option>
                            <% }; %>
                        <% }); %>
                    <% }; %>
                </select>
            </div>
            <div>
                <label for="genre">Genre:</label>
                <select name="genre" id="genre">
                    <option value="<%= game.genreid %>"><%= game.genrename %></option>
                    <% if (locals.genres) { %>
                        <% genres.forEach((genre) => { %>
                            <% if (genre.id !== game.genreid) { %>
                                <option value="<%= genre.id %>"><%= genre.name %></option>
                            <% }; %>
                        <% }); %>
                    <% }; %>
                </select>
            </div>
            <div>
                <label for="publisher">Publisher:</label>
                <select name="publisher" id="publisher">
                    <option value="<%= game.publisherid %>"><%= game.publishername %></option>
                    <% if (locals.publishers) { %>
                        <% publishers.forEach((publisher) => { %>
                            <% if (publisher.id !== game.publisherid) { %>
                                <option value="<%= publisher.id %>"><%= publisher.name %></option>
                            <% }; %>
                        <% }); %>
                    <% }; %>
                </select>
            </div>
            <div>
                <label for="platform">Platform:</label>
                <select name="platform" id="platform">
                    <option value="<%= game.platformid %>"><%= game.platformname %></option>
                    <% if (locals.platforms) { %>
                        <% platforms.forEach((platform) => { %>
                            <% if (platform.id !== game.platformid) { %>
                                <option value="<%= platform.id %>"><%= platform.name %></option>
                            <% }; %>
                        <% }); %>
                    <% }; %>
                </select>
            </div>
            <div>
                <label for="date-of-release">Date of release:</label>
                <input type="date" name="dateOfRelease" id="date-of-release" value="<%= game.dateofrelease.toISOString().split('T')[0] %>" require />
            </div>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
    </body>
</html>