<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <%- include("subviews/header") %>
        <div class="main">
            <%- include("subviews/navigation") %>
            <div>
                <div class="subheader"><%= title %></div>
                <ul>
                    <% if (locals.errors) { %>
                        <% errors.forEach((error) => { %>
                            <li class="error"><%= error.msg %></li>
                        <% }); %>
                    <% }; %>
                </ul>
                <form action="/platforms/<%= platform.id %>/update" method="POST">
                    <div class="update-form-row">
                        <label for="name">Name:</label>
                        <input type="text" name="platformName" id="name" value="<%= platform.name %>" required />                        
                    </div>
                    <div class="update-form-row">
                        <button type="submit" class="update-button">Update</button>
                    </div>
                </form>                
            </div>
        </div>
    </body>
</html>